*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background-image: url(./Img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


main{
    margin: 0 auto;
    max-width: 1200px;
    
}

main section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.card{
    display: grid;
    background: linear-gradient(rgba(28, 28, 110, 0.9), rgba(175, 35, 35, 0.9));
    color: white;
    text-align: center;
    border-radius: 3%;
    transition: 0.5s;
    backdrop-filter: blur(7px);
    
    
    
}

.card:hover{
    cursor: pointer;
    justify-content: center;
    transform: translateY(-10px);
    background: rgba(177, 62, 54, 0.12);
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    
}


img{
    width: 100%;
    border-radius: 15px 15px 0 0;    
    
}

.button{
    border-radius: 5px;
    padding: 0 20px;
    margin: 10px;
    border: none;
    background-color: rgb(79, 39, 105);
    color: white;
    
}

.button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 40px rgb(0, 225, 255);
    
    background-color: rgb(119, 164, 170);
}


header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
    
}


.hd-div{
    background: linear-gradient(rgba(28, 28, 110, 0.8), rgba(175, 35, 35, 0.8));
    height: 100px;
    width: 800px;
    margin: 45px;
    padding: 25px;
    border-radius: 20px;
}

h1{
    font-size: 32px;
}

h2{
    text-align: center;
}

header p{
    text-align: center;
}

@media (max-width: 900px) {
    .grid_card {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}


@media (max-width: 600px) {
    .grid_card {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}